@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin default-link {
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  &:hover {
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
  }
}
