// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------

// Screen resolution variables
$XS_RES: 576px;
$SM_RES: 768px;
$MD_RES: 992px;
$LG_RES: 1200px;


// Main colors
$twitter: #1DA1F2;
$darkCyan: #1a9081; // logo color
$khaki: #e0d890; // logo text color

// Text colors
$lightgrey: #b0b0b0 !default;
// $main-background-color: #141422 !default;
$main-background-color: #141823 !default;
$main-text-grey-color: #d0d0d2 !default;
$text-darkgrey-color: #7A7A7A !default;
$text-devider-color: #3D3D3D !default;

// Forms colors
$form-main-background-color: #191923;
$form-invalid-background-color: #522025;
$form-invalid-text-color: #f04a43;
$form-main-border-color: #272b37;
$form-readonly-input-txt-color: #818181;

$sidebar-main-bg-color: #262633;
$panel-main-bg-color: #262633;
