<div class="tw-spinner" #spinner>
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<main>
  <article>
    <div class="tw-account-cnt" #container>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="tw-panel tw-user-panel">
              <img class="avatar avatar-bg" src="{{ (userData|async)?.user.profile_image_url }}" alt="USer photo">
              <h1>
                {{ (userData|async)?.user.name }}
              </h1>
              <p>
                <a href="https://twitter.com/{{ (userData|async)?.user.screen_name }}">
                  @{{ (userData|async)?.user.screen_name }}
                </a>
              </p>
            </div>
            <div class="tw-panel tw-followers-panel">
              <p>
                Obserwujący
              </p>
              <div *ngFor="let user of (userData|async)?.followers.users">
                <img class="avatar avatar-sm avatar-rounded"
                    src="{{ user.profile_image_url }}"
                    alt="{{ user.name }} photo">
                <p>
                  {{ user.name }} <br>
                  <a href="https://twitter.com/{{ user.screen_name }}">
                    @{{ user.screen_name }}
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tw-panel">
              sdasdf
            </div>
          </div>
          <div class="col">
            <div class="tw-panel tw-friends-panel">
              <p>
                Obserwowani
              </p>
              <div *ngFor="let user of (userData|async)?.friends.users">
                <img class="avatar avatar-sm avatar-rounded"
                    src="{{ user.profile_image_url }}"
                    alt="{{ user.name }} photo">
                <p>
                  {{ user.name }} <br>
                  <a href="https://twitter.com/{{ user.screen_name }}">
                    @{{ user.screen_name }}
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
