@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';

.tw-spinner {
  @include centerer(true, true);
  margin: 5px;
}

.tw-account-cnt {
  opacity: 0;
  transition: 0.3s;

  &.ready {
    opacity: 1;
  }

  .tw-panel {
    text-align: left;

    &.tw-user-panel {
      text-align: center;
      @media all and (min-width: $MD_RES) {
        text-align: left;
      }
      h1 {
        font-size: 1.4rem;
        margin-top: 20px;
      }
      p {
        a {
          @include default-link;
          font-size: 1.1rem;
          color: $text-darkgrey-color;
          transition: 0.3s;
          &:hover {
            color: $text-darkgrey-color * 1.2;
          }
          &.tw-link {
            color: $twitter;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              color: #0A95EB;
            }
          }
        }
      }
    }

    &.tw-followers-panel, &.tw-friends-panel {
      p {
        text-align: center;
        @media all and (min-width: $MD_RES) {
          text-align: left;
        }
      }
      div {
        border-bottom: 1px solid $text-devider-color;
        padding: 10px 0px;
        display: flex;

        &:last-of-type {
          border-bottom: none;
        }

        p {
          display: inline-block;
          margin-bottom: 0px;
          padding-left: 12px;
          a {
            @include default-link;
            font-size: 0.9rem;
            color: $text-darkgrey-color;
            transition: 0.3s;
            &:hover {
              color: $text-darkgrey-color * 1.2;
            }
          }
        }

        @media all and (max-width: $MD_RES) {
          display: flex;
          justify-content: center;
        }
      }
    }

    &.tw-tweets-panel {
      .tweets-panel-header {
        position: relative;
        p {
          display: inline-block;
          margin-bottom: 0px;
          padding-left: 7px;
          margin-top: 5px;
          font-size: 1rem;
          line-height: 1.1rem;
          a {
            @include default-link;
            font-size: 0.8rem;
            color: $text-darkgrey-color;
            transition: 0.3s;
            &:hover {
              color: $text-darkgrey-color * 1.2;
            }
          }
        }
        img {
          position: relative;
          top: -10px;
        }
        .fa-twitter {
          font-size: 1.6rem;
          position: absolute;
          top: 10px;
          right: 0px;
          color: $twitter;
        }
      }

      h2 {
        font-size: 1rem;
        padding: 10px 0px;
      }

      .tweets-panel-footer {
        text-align: right;
        span {
          color: $text-darkgrey-color;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.main-header {
  padding: 5px 0px;
  background-color: $panel-main-bg-color;
  .header-panel {
    .header-logo {
      display: inline-block;
      div:first-of-type {
        font-size: 2rem;
        line-height: 2.2rem;
        color: #FF5A00;
      }
      div:last-of-type {
        padding-top: 3px;
      }
    }

    .btn-twitter {
      float: right;
      margin-top: 15px;
      color: #fff;
    }
  }
}

.main-footer {
  margin-top: 30px;
  padding: 10px 0px;
  background-color: $panel-main-bg-color;

  .footer-panel {
    position: relative;
    .footer-rights {
      position: absolute;
      top: 0px;
      right: 0px;
      color: $text-darkgrey-color;
      font-size: 0.8rem;
    }

    p {
      margin-bottom: 5px;
      font-size: 0.9rem;
      color: $text-darkgrey-color;
      a {
        @include default-link;
        color: $text-darkgrey-color;
        transition: 0.3s;
        &:hover {
          color: $text-darkgrey-color * 1.2;
        }
      }
    }
  }
}

.tw-modal-bg {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  opacity: 0;

  &.open {
    display: block;
    -webkit-animation: show-modal 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: show-modal 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.tw-tweet-modal {
  display: none;
  @include centerer(true, false);
  top: 100px;
  z-index: 999;
  opacity: 0;

  &.open {
    display: block;
    -webkit-animation: show-modal 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: show-modal 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  .tweet-modal-header {
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    font-size: 1.2rem;

    .fa-times {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 1.4rem;
    }
  }

  .tweet-modal-cnt {
    textarea {
      background-color: $form-main-background-color;
      color: $main-text-grey-color;
      border: none;
      padding: 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 75vw;
      @media all and (min-width: 500px) {
        width: 100%;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .tweet-modal-footer {
    margin-top: 15px;
    a {
      color: $main-text-grey-color;
      transition: 0.3s;
      &:hover {
        color: $twitter;
      }
    }
    button {
      color: #fff;
      transition: 0.3s;
      float: right;
    }
  }
}

@keyframes show-modal {
  from { opacity: 0 }
  to { opacity: 1 }
}
