@import '~styles/abstracts/variables';
@import '~styles/abstracts/mixins';

.tw-spinner {
  @include centerer(true, true);
  margin: 5px;
}

.tw-account-cnt {
  opacity: 0;
  transition: 0.3s;

  &.ready {
    opacity: 1;
  }

  .tw-panel {
    text-align: left;

    &.tw-user-panel {
      text-align: center;
      @media all and (min-width: $MD_RES) {
        text-align: left;
      }
      h1 {
        font-size: 1.4rem;
        margin-top: 20px;
      }
      p {
        a {
          @include default-link;
          font-size: 1.1rem;
          color: $text-darkgrey-color;
          transition: 0.3s;
          &:hover {
            color: $text-darkgrey-color * 1.2;
          }
          &.tw-link {
            color: $twitter;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              color: #0A95EB;
            }
          }
        }
      }
    }

    &.tw-followers-panel, &.tw-friends-panel {
      p {
        text-align: center;
        @media all and (min-width: $MD_RES) {
          text-align: left;
        }
      }
      div {
        border-bottom: 1px solid $text-devider-color;
        padding: 10px 0px;
        display: flex;

        &:last-of-type {
          border-bottom: none;
        }

        p {
          display: inline-block;
          margin-bottom: 0px;
          padding-left: 12px;
          a {
            @include default-link;
            font-size: 0.9rem;
            color: $text-darkgrey-color;
            transition: 0.3s;
            &:hover {
              color: $text-darkgrey-color * 1.2;
            }
          }
        }

        @media all and (max-width: $MD_RES) {
          display: flex;
          justify-content: center;
        }
      }
    }

    &.tw-tweets-panel {
      .tweets-panel-header {
        position: relative;
        p {
          display: inline-block;
          margin-bottom: 0px;
          padding-left: 7px;
          margin-top: 5px;
          font-size: 1rem;
          line-height: 1.1rem;
          a {
            @include default-link;
            font-size: 0.8rem;
            color: $text-darkgrey-color;
            transition: 0.3s;
            &:hover {
              color: $text-darkgrey-color * 1.2;
            }
          }
        }
        img {
          position: relative;
          top: -10px;
        }
        .fa-twitter {
          font-size: 1.6rem;
          position: absolute;
          top: 10px;
          right: 0px;
          color: $twitter;
        }
      }

      h2 {
        font-size: 1rem;
        padding: 10px 0px;
      }

      .tweets-panel-footer {
        text-align: right;
        span {
          color: $text-darkgrey-color;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.main-header {
  padding: 5px 0px;
  background-color: $panel-main-bg-color;
  border-top: 1px solid $text-devider-color;
  .header-panel {
    .header-logo {
      display: inline-block;
      div:first-of-type {
        font-size: 2rem;
        line-height: 2.2rem;
        color: #FF5A00;
      }
      div:last-of-type {
        padding-top: 3px;
        color: #FF5A00;
      }
    }

    .btn-twitter {
      float: right;
      margin-top: 15px;
      color: #fff;
    }
  }
}

.main-footer {
  margin-top: 30px;
  padding: 10px 0px;
  background-color: $panel-main-bg-color;
  border-top: 1px solid $text-devider-color;

  .footer-panel {
    position: relative;
    .footer-rights {
      position: absolute;
      top: 0px;
      right: 0px;
      color: $text-darkgrey-color;
      font-size: 0.8rem;
    }

    p {
      margin-bottom: 5px;
      font-size: 0.9rem;
      color: $text-darkgrey-color;
      a {
        @include default-link;
        color: $text-darkgrey-color;
        transition: 0.3s;
        &:hover {
          color: $text-darkgrey-color * 1.2;
        }
      }
    }
  }
}
